:root {
  --branding-color:#5A6A45;
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
  --secondary-color:#EEEAE5;
}

body {
  font-family: var(--default-font-family);

}
h1,
h3,
h4,
h5,
h6 {
  color: #5A6A45;
  font-family: (var(--heading-font-family));
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
    font-size: 96px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: 272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container{
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding-outline {
color: var(--branding-color);
border: 1px solid var(--branding-color);
border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.email-link {
  display: flex;
  justify-content: center;
 font-family: var(--default-font-family);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.project-description {
    padding: 120px 60px;
}

.logo {
  max-width: 150px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #72815F;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a  {
  color: var(--branding-color);
}

@media (max-width: 900px) {

    h1 {
        font-size: 44px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }
.hero {
  padding: 80px 20px;
}

.content {
  text-align: center;
  padding: 0;
}

    .project-description {
        padding: 0;
        text-align: center;
    }
}
